@page { 	
	size: 10.8cm 21cm;	
	font-size: 10pt;
}

.noprint{
	display: none;
}


table{
	border-collapse: collapse;
	width: 4cm;
}

th{
	color: #FFFFFF;
	background-color: #000000;
	
}

td{
	height: 0.8cm;
}


